body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('/static/images/image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.loginbox {
    width: 50px;
    position: absolute;
    top: 80px;
    left: 150px;
    transform: translate(-50%, -50%);
    color: rgb(12, 12, 12);
    margin: 100px 80px 50px 80px;
}

.log {
    float: left;
    font-size: 15px;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 5px 0px;
    border-bottom: 4px solid #4caf50;
}

.textbox {
    float: left;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 3px 0;
    border-bottom: 2px solid #4caf50;
}

.password {
    float: left;
    font-size: 10px;
    margin-bottom: 10px;
    padding: 3px 0;
    border-bottom: 2px solid #4caf50;
}

body {
    text-align: center;
}